# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [2]:
# Import libraries
%pip install seaborn


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Requirement already satisfied: seaborn in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from seaborn) (1.26.1)
Requirement already satisfied: pandas>=1.2 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from seaborn) (2.1.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [3]:
# your code here

pokemon = pd.read_csv('Pokemon.csv')

#El total es la suma de todos los stats?

pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
stats = pokemon[['HP',	'Attack',	'Defense',	'Sp. Atk',	'Sp. Def',	'Speed']]
stats['total']= 0
stats

C:\Users\Usuario\AppData\Local\Temp\ipykernel_13996\635863291.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['total']= 0

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  total
0    45      49       49       65       65     45      0
1    60      62       63       80       80     60      0
2    80      82       83      100      100     80      0
3    80     100      123      122      120     80      0
4    39      52       43       60       50     65      0
..   ..     ...      ...      ...      ...    ...    ...
795  50     100      150      100      150     50      0
796  50     160      110      160      110    110      0
797  80     110       60      150      130     70      0
798  80     160       60      170      130     80      0
799  80     110      120      130       90     70      0

[800 rows x 7 columns]

In [5]:
stats['total']=stats[['HP',	'Attack',	'Defense',	'Sp. Atk',	'Sp. Def',	'Speed']].sum(axis=1)

stats

C:\Users\Usuario\AppData\Local\Temp\ipykernel_13996\1894137282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['total']=stats[['HP',	'Attack',	'Defense',	'Sp. Atk',	'Sp. Def',	'Speed']].sum(axis=1)

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  total
0    45      49       49       65       65     45    318
1    60      62       63       80       80     60    405
2    80      82       83      100      100     80    525
3    80     100      123      122      120     80    625
4    39      52       43       60       50     65    309
..   ..     ...      ...      ...      ...    ...    ...
795  50     100      150      100      150     50    600
796  50     160      110      160      110    110    700
797  80     110       60      150      130     70    600
798  80     160       60      170      130     80    680
799  80     110      120      130       90     70    600

[800 rows x 7 columns]

In [6]:
if (stats['total']==pokemon['Total']).all():
    print('ok')

ok

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [7]:
# your code here

# column=pokemon['Type 1']

tipo1 = pd.get_dummies(pokemon['Type 1'],dtype=int)
tipo2 = pd.get_dummies(pokemon['Type 2'],dtype=int)

nueva_tabla= tipo1 + tipo2

nueva_tabla

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
796,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
797,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
798,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
799,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1

## Solución de problemas iteración 3

Ahora hemos codificado los tipos de Pokémon, identificaremos la relación entre 'total' y los campos codificados.Nuestra expectativa es:

#### Hay relaciones entre 'Total' y las variables de tipo Pokémon codificadas y necesitamos identificar las correlaciones.

La información que necesitamos recopilar es:

#### ¿Cómo identificar la relación entre el `total" y los campos tipo Pokémon codificados?

Hay varias formas de responder a esta pregunta.La forma más fácil es usar la correlación.En la celda a continuación, calcule la correlación de `total 'a cada uno de los campos codificados.Clasifique las correlaciones e identifique el tipo de Pokémon #1 que es más probable que tenga el 'total' más alto.

In [8]:
# your code here

best_pokemon=nueva_tabla.corr()

best_pokemon.head()

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Bug,1.000000,-0.082062,-0.081200,-0.045111,-0.072148,-0.048645,-0.060536,0.064571,-0.058915,-0.034430,-0.063544,-0.070229,-0.120219,0.121210,-0.111968,-0.003706,0.047178,-0.123983
Dark,-0.082062,1.000000,-0.003963,-0.067375,-0.059864,-0.007791,-0.020368,-0.022164,0.001484,-0.048339,-0.023480,-0.010163,-0.099751,-0.018227,-0.044327,-0.033493,-0.023978,-0.028548
Dragon,-0.081200,-0.003963,1.000000,-0.024000,-0.035541,-0.068775,-0.038069,0.026237,-0.019410,-0.078818,0.052430,0.015173,-0.098702,-0.055525,-0.026557,-0.032360,-0.044417,-0.083285
Electric,-0.045111,-0.067375,-0.024000,1.000000,-0.035541,-0.068775,-0.057104,-0.020407,-0.041592,-0.078818,-0.059420,-0.033382,-0.067737,-0.074838,-0.091928,-0.072188,-0.001346,-0.069109
Fairy,-0.072148,-0.059864,-0.035541,-0.035541,1.000000,-0.061108,-0.067651,-0.052669,-0.056665,-0.048756,-0.069360,-0.051232,-0.001720,-0.066495,0.027227,0.002212,0.013155,-0.067703

In [11]:
best_pokemon['Total']=0

best_pokemon['Total'] = best_pokemon.sum(axis=1)


best_pokemon

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, Bug to Water
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Bug       18 non-null     float64
 1   Dark      18 non-null     float64
 2   Dragon    18 non-null     float64
 3   Electric  18 non-null     float64
 4   Fairy     18 non-null     float64
 5   Fighting  18 non-null     float64
 6   Fire      18 non-null     float64
 7   Flying    18 non-null     float64
 8   Ghost     18 non-null     float64
 9   Grass     18 non-null     float64
 10  Ground    18 non-null     float64
 11  Ice       18 non-null     float64
 12  Normal    18 non-null     float64
 13  Poison    18 non-null     float64
 14  Psychic   18 non-null     float64
 15  Rock      18 non-null     float64
 16  Steel     18 non-null     float64
 17  Water     18 non-null     float64
 18  Total     18 non-null     float64
dtypes: float64(19)
memory usage: 3.4+ KB

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [10]:
# your code here